:root, [data-theme="default"] {
    // main
    @include defineColorHSL(--color-primary-darker, 203, 59%, 10%);
    @include defineColorHSL(--color-primary-dark, 203, 59%, 20%);
    @include defineColorHSL(--color-primary, 203, 59%, 30%);
    @include defineColorHSL(--color-primary-light, 203, 59%, 40%);
    @include defineColorHSL(--color-primary-lighter, 203, 100%, 70%);
    @include defineColorHSL(--color-accent-darker, 171, 67%, 4%);
    @include defineColorHSL(--color-accent-dark, 171, 67%, 14%);
    @include defineColorHSL(--color-accent, 171, 67%, 24%);
    @include defineColorHSL(--color-accent-light, 171, 67%, 34%);
    @include defineColorHSL(--color-accent-lighter, 171, 67%, 67%);
    @include defineColorHSL(--color-black, 240, 8%, 12%);
    @include defineColorHSL(--color-white, 0, 0%, 100%);
    // feedback
    @include defineColorHSL(--color-warning-darker, 46, 100%, 41%);
    @include defineColorHSL(--color-warning-dark, 46, 100%, 51%);
    @include defineColorHSL(--color-warning, 46, 100%, 61%);
    @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
    @include defineColorHSL(--color-warning-lighter, 46, 100%, 81%);
    @include defineColorHSL(--color-success-darker, 94, 48%, 36%);
    @include defineColorHSL(--color-success-dark, 94, 48%, 46%);
    @include defineColorHSL(--color-success, 94, 48%, 56%);
    @include defineColorHSL(--color-success-light, 94, 48%, 66%);
    @include defineColorHSL(--color-success-lighter, 94, 48%, 76%);
    @include defineColorHSL(--color-error-darker, 355, 90%, 41%);
    @include defineColorHSL(--color-error-dark, 355, 90%, 51%);
    @include defineColorHSL(--color-error, 355, 90%, 61%);
    @include defineColorHSL(--color-error-light, 355, 90%, 71%);
    @include defineColorHSL(--color-error-lighter, 355, 90%, 81%);
    // color contrasts
    @include defineColorHSL(--color-bg, 0, 0%, 100%);
    @include defineColorHSL(--color-contrast-lower, 0, 0%, 95%);
    @include defineColorHSL(--color-contrast-low, 240, 1%, 83%);
    @include defineColorHSL(--color-contrast-medium, 240, 1%, 48%);
    @include defineColorHSL(--color-contrast-high, 240, 4%, 20%);
    @include defineColorHSL(--color-contrast-higher, 240, 8%, 12%);
}

[data-theme] {
    background-color: var(--color-bg);
    color: var(--color-contrast-high);
}

.color--primary-darker {
    color: var(--color-primary-darker);
}

.color--primary-dark {
    color: var(--color-primary-dark);
}

.color--primary {
    color: var(--color-primary);
}

.color--primary-light {
    color: var(--color-primary-light);
}

.color--primary-lighter {
    color: var(--color-primary-lighter);
}

.color--accent-darker {
    color: var(--color-accent-darker);
}

.color--accent-dark {
    color: var(--color-accent-dark);
}

.color--accent {
    color: var(--color-accent);
}

.color--accent-light {
    color: var(--color-accent-light);
}

.color--accent-lighter {
    color: var(--color-accent-lighter);
}

.color--black {
    color: var(--color-black);
}

.color--white {
    color: var(--color-white);
}

.color--bg {
    color: var(--color-bg);
}

.color--contrast-lower {
    color: var(--color-contrast-lower);
}

.color--contrast-low {
    color: var(--color-contrast-low);
}

.color--contrast-medium {
    color: var(--color-contrast-medium);
}

.color--contrast-high {
    color: var(--color-contrast-high);
}

.color--contrast-higher {
    color: var(--color-contrast-higher);
}