$color-main: rgb(255, 208, 121);

:root {
    --color-green: rgb(68, 165, 68);
    --size-font: 2em;
}

@mixin myColor($var) {
    color: $var;
}

body {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
}

.first-block {
    background-color: $color-main;

    &__header {
        color: var(--color-green);
        font-size: calc(1.5 * var(--size-font));
    }

    &__info {
        font-size: 24px;
        font-weight: 600;
        @include myColor(red);
    }
}