$color-main: rgb(255, 208, 121);

:root {
    --color-green: rgb(68, 165, 68);
    --size-font: 2em;
}

@mixin myColor($var) {
    color: $var;
}

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

header {
    color: var(--color-green);
    font-size: calc(1.5 * var(--size-font));
}

.text-block {
    background-color: $color-main;
    width: 50%;
    padding: 10px;

    &__info {
        @include myColor(rgb(252, 85, 85));
        font-size: 24px;
        font-weight: 600;
    }
}