html {
    scroll-behavior: smooth;
}


/* бордеры для всех контейнеров кроме последнего */

.container-block--lg:not(:last-child) {
    border-bottom: var(--space-xxxxs) solid var(--color-primary-light);
}

.text-header {
    margin-bottom: var(--space-xxxs);
    text-align: center;
    text-transform: uppercase;
}

.text-header-2 {
    margin-bottom: var(--space-xxxs);
}

#masonry-item-fake {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}


/* TODO: высчитывать высоту навигации через js */

.anchor-fix {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}


/* advantages */


/* TODO: выровнять элементы по оси X */

.advantages__grid {
    display: grid;
    grid-gap: var(--space-md);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media screen and (max-width: 600px) {
    .advantages__grid {}
}


/* about */

.about__grid {
    width: 100%;
    display: grid;
    grid-gap: var(--space-xs);
    grid-template-columns: minmax(50ch, 70ch) 1fr;
}

.about__item-avatar {
    margin: auto;
}

.about__avatar {
    border-radius: 50%;
    height: var(--space-xxl);
    min-width: var(--space-xxl);
}

@media screen and (max-width: 700px) {
    .about__grid {
        grid-template-columns: 1fr;
    }
    .about__item-avatar {
        order: -1;
    }
}

.about__grid-t {
    display: grid;
    grid-gap: var(--space-xs) var(--space-md);
    grid-template-columns: repeat(2, minmax(250px, 1fr));
}

@media screen and (max-width: 700px) {
    .about__grid-t {
        grid-template-columns: 1fr;
    }
}

.portfolio__container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
}

.portfolio__grid {
    position: relative;
    padding: var(--space-md);
    max-width: 600px;
    margin: 0 auto;
}

.porfolio__img {
    display: block;
    max-height: 400px;
    max-width: 100%;
    margin-bottom: var(--space-xs);
}

.portfolio__link {
    color: inherit;
    text-decoration: inherit;
}

.portfolio__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-primary);
    outline: 2px solid var(--color-bg);
    outline-offset: -24px;
    opacity: 0;
}

.portfolio__overlay:hover {
    opacity: 0.7;
}

.portfolio__overlay-p {
    position: inherit;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.p--overlay-mix {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.4rem;
}

@media screen and (max-width: 430px) {
    .portfolio__container {
        grid-template-columns: 1fr;
    }
}


/* random */

.random__grid {
    width: 100%;
    display: flex;
}

.random__item {
    width: 50%;
}

.random__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random__img {
    display: block;
    max-height: 260px;
    max-width: 100%;
}

@media screen and (max-width: 900px) {
    .random__img {
        max-height: 220px;
    }
}

@media screen and (max-width: 600px) {
    .random__item-img {
        display: none;
    }
    .random__item {
        width: 100%;
    }
}

.random__li {
    margin-bottom: var(--space-sm);
    color: var(--color-contrast-high);
}

.random__li:last-child {
    margin-bottom: 0;
}

.contacts__container {
    display: grid;
    grid-gap: var(--space-md);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contacts__container-social {
    display: grid;
    grid-gap: var(--space-md);
    grid-template-columns: min-content;
}

.contacts__item-social {
    display: flex;
    align-items: center;
}

.contacts__svg-social {
    height: var(--space-lg);
    min-width: var(--space-lg);
}

.contacts__text-social {
    padding-left: var(--space-xs);
}

@media screen and (max-width: 681px) {
    .text-header-2 {
        text-align: center;
    }
    .contacts__item-2 {
        order: -1;
    }
    .contacts__container-social {
        grid-template-columns: repeat(auto-fit, 230px);
        justify-content: space-between;
    }
    .contacts__container {
        grid-template-columns: 1fr;
    }
    .contacts__btn {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .contacts__text-social {
        display: none;
    }
    .contacts__container-social {
        grid-template-columns: repeat(3, min-content);
        justify-content: space-around;
    }
}

.footer {
    text-align: center;
    color: var(--color-contrast-medium);
    border-top: 1px solid var(--color-contrast-low);
}