/* бордеры для всех контейнеров кроме полседнего */

.container-block--lg:not(:last-child) {
    border-bottom: var(--space-xxxxs) solid var(--color-primary-light);
}

.text-header {
    margin-bottom: var(--space-xxxs);
    text-align: center;
    text-transform: uppercase;
}

#masonry-item-fake {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}

a.anchor-fix {
    display: block;
    position: relative;
    top: calc(50px * -1);
    visibility: hidden;
}


/* advantages */


/* TODO: выровнить элементы по оси X */

.advantages__grid {
    display: grid;
    grid-gap: var(--space-md);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media screen and (max-width: 600px) {
    .advantages__grid {}
}


/* about */

.about__grid {
    width: 100%;
    display: grid;
    grid-gap: var(--space-xs);
    grid-template-columns: minmax(50ch, 70ch) 1fr;
}

.about__item-avatar {
    margin: auto;
}

.about__avatar {
    border-radius: 50%;
    height: var(--space-xxl);
    min-width: var(--space-xxl);
}

@media screen and (max-width: 700px) {
    .about__grid {
        grid-template-columns: 1fr;
    }
    .about__item-avatar {
        order: -1;
    }
}

.about__grid-t {
    display: grid;
    grid-gap: var(--space-xs) var(--space-md);
    grid-template-columns: repeat(2, minmax(250px, 1fr));
}

@media screen and (max-width: 700px) {
    .about__grid-t {
        grid-template-columns: 1fr;
    }
}

.portfolio__container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
}

.portfolio__grid {
    position: relative;
    padding: var(--space-md);
    max-width: 600px;
    margin: 0 auto;
}

.porfolio__img {
    display: block;
    max-height: 400px;
    max-width: 100%;
    margin-bottom: var(--space-xs);
}

.portfolio__link {
    color: inherit;
    text-decoration: inherit;
}

.portfolio__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-primary);
    outline: 2px solid var(--color-bg);
    outline-offset: -24px;
    opacity: 0;
}

.portfolio__overlay:hover {
    opacity: 0.7;
}

.portfolio__overlay-p {
    position: inherit;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.p--overlay-mix {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.4rem;
}

@media screen and (max-width: 430px) {
    .portfolio__container {
        grid-template-columns: 1fr;
    }
}


/* random */

.random__grid {
    width: 100%;
    display: flex;
}

.random__item {
    width: 50%;
}

.random__item-img {
    padding-right: var(--space-xs);
    display: flex;
    justify-content: center;
    align-items: center;
}

.random__img {
    display: block;
    max-height: 260px;
    max-width: 100%;
}

@media screen and (max-width: 900px) {
    .random__img {
        max-height: 220px;
    }
}

@media screen and (max-width: 600px) {
    .random__item-img {
        display: none;
    }
    .random__item {
        width: 100%;
    }
}

.common-ul {}

.common-li {
    margin-bottom: var(--space-sm);
    color: var(--color-contrast-high);
}

.common-li::before {
    content: "";
    background-image: url("data:image/svg+xml;utf8,<svg fill='hsl(240, 1%, 48%)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 438.5 438.5'><path d='M409.1 109.2c-19.6-33.6-46.2-60.2-79.8-79.8C295.7 9.8 259.1 0 219.3 0c-39.8 0-76.5 9.8-110.1 29.4 -33.6 19.6-60.2 46.2-79.8 79.8C9.8 142.8 0 179.5 0 219.3c0 39.8 9.8 76.5 29.4 110.1 19.6 33.6 46.2 60.2 79.8 79.8 33.6 19.6 70.3 29.4 110.1 29.4s76.5-9.8 110.1-29.4c33.6-19.6 60.2-46.2 79.8-79.8 19.6-33.6 29.4-70.3 29.4-110.1C438.5 179.5 428.7 142.8 409.1 109.2zM353.7 297.2c-13.9 23.8-32.7 42.6-56.5 56.5 -23.8 13.9-49.8 20.8-77.9 20.8 -28.2 0-54.1-6.9-77.9-20.8 -23.8-13.9-42.6-32.7-56.5-56.5 -13.9-23.8-20.8-49.8-20.8-77.9 0-28.2 6.9-54.2 20.8-77.9 13.9-23.8 32.7-42.6 56.5-56.5 23.8-13.9 49.8-20.8 77.9-20.8 28.2 0 54.2 6.9 77.9 20.8 23.8 13.9 42.6 32.7 56.5 56.5 13.9 23.8 20.8 49.8 20.8 77.9C374.6 247.4 367.6 273.4 353.7 297.2z' /><path d='M219.3 146.2c-20.2 0-37.4 7.1-51.7 21.4 -14.3 14.3-21.4 31.5-21.4 51.7 0 20.2 7.1 37.4 21.4 51.7 14.3 14.3 31.5 21.4 51.7 21.4 20.2 0 37.4-7.1 51.7-21.4 14.3-14.3 21.4-31.5 21.4-51.7 0-20.2-7.1-37.4-21.4-51.7C256.7 153.3 239.4 146.2 219.3 146.2z' /></svg>");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    float: left;
    margin: 0.125em var(--space-xs) 0 0;
}

.footer {
    text-align: center;
    color: var(--color-contrast-medium);
    border-top: 1px solid var(--color-contrast-low);
}