body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
}

pre,
ul {
    padding: 0;
    margin: 0;
}

:root {
    --nav-height: 64px;
}

.nav-fix {
    padding-top: var(--nav-height);
    margin-top: calc(var(--nav-height) * -1);
}

a.anchor-fix {
    display: block;
    position: relative;
    top: calc(var(--nav-height) * -1);
    visibility: hidden;
}

section:nth-child(even) {
    background: hsl(0, 0%, 18%);
}

section:nth-child(odd) {
    background: hsl(0, 0%, 96%);
}

/*  -------- NAVBAR -------- */
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background: #3F708F;
}

.nav__right {
    margin-right: 30px;
}

.nav__list {
    display: flex;
    list-style: none;
    text-transform: lowercase;
    font-family: 'Courier New', Consolas, monospace;
}

.nav__item {
    border: 1px solid hsla(0, 0%, 93%, 0);
    border-radius: 5px;
    margin-right: 5px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__item:hover {
    animation-name: border-fade-in;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes border-fade-in {
    100% {
        border: 1px solid hsla(0, 0%, 100%, 1);
    }
}

.nav__link {
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 93%);
    padding: 15px;
}

.nav__link:hover {
    animation-name: fade-in;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    100% {
        color: hsl(0, 0%, 100%);
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    }
}

/*  -------- INTRO -------- */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* opera */
    height: -o-calc(100vh - var(--nav-height));
    /* google, safari */
    height: -webkit-calc(100vh - var(--nav-height));
    /* firefox */
    height: -moz-calc(100vh - var(--nav-height));
    height: calc(100vh - var(--nav-height));
    min-height: 640px;
    margin-top: var(--nav-height);
}

.intro__elem1 {
    margin-bottom: 50px;
}

.intro__img {
    height: auto;
    width: 220px;
    /*  border: 2px solid hsl(0, 0%, 60%); */
    border-radius: 50%;
}

.intro__pre {
    font-size: 2em;
    color: hsl(0, 0%, 60%);
    font-family: 'Courier New', Consolas, monospace;
    /*   background: linear-gradient(to bottom,
        hsl(0, 0%, 20%),
        hsl(0, 0%, 20%) 50%,
        hsl(0, 0%, 18%) 50%,
        hsl(0, 0%, 18%));
    background-size: 100% 2.25em; */
}

.intro__pre>i {
    /* color: rgba(68, 205, 239, 0.7); */
}

.intro__pre>span {
    text-transform: uppercase;
    letter-spacing: .1em;
    animation-name: fade-out;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.35), 0 5px 10px rgba(0, 0, 0, 0.35);
    /*  font-weight: bold; */
    /* color: hsl(355, 78%, 66%); */
}

@keyframes fade-out {
    100% {
        color: white;
    }
}

/*  -------- ABOUT -------- */
.about {
    background: hsl(0, 0%, 96%);
}

.row {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
}

.col {
    width: 45%;
}

.header {
    text-align: center;
    padding-top: 2em;
    margin-top: 0;
}

.header--color-even {
    color: white;
}

.header--color-odd {
    color: black;
}

.text {
    line-height: 1.5;
    text-align: justify;
}

.text:last-child {
    margin-bottom: 0;
}

.text--indent {
    text-indent: 2em;
}

.text--color-even {
    color: hsl(0, 0%, 82%);
}

.text--color-odd {
    color: hsl(0, 0%, 18%);
}

.about__list {
    /* list-style: inside; */
    list-style: none;
}

.about__item {
    background: url(../images/symbol.png) no-repeat top 3px left;
    /* border-left: 5px solid #3F708F; */
    padding-left: 24px;
    margin-bottom: 1em;
}

/* .about__item:nth-child(odd) {
    background: hsl(183, 42%, 92%);
} */


/* .about__item:nth-child(2) {
    border-color: #8bc63e;
}

.about__item:nth-child(3) {
    border-color: #fcba30;
}

.about__item:nth-child(4) {
    border-color: #1ccfc9;
}

.about__item:nth-child(5) {
    border-color: #493224;
} */