html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: var(--color-bg);
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
    margin-top: 0;
}

blockquote {
    margin: 0;
}

q {
    quotes: "“""”";
}

:root {
    /* background */
    --color-bg: hsl(0, 0%, 98%);
    /* footer */
    --color-ft: hsl(0, 0%, 45%);
    /* primary */
    --color-pr: hsl(215, 50%, 23%);
    /* pr highlight */
    --color-hl: hsl(215, 60%, 35%);
    /* secondary */
    --color-sd: hsl(184, 90%, 65%);
    /* sd selected */
    --color-s: hsl(184, 60%, 35%);
}

.content {
    flex: 1 0 auto;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.3);
}

.nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 18px 100px;
    width: 560px;
    min-width: 420px;
}

.nav__item {
    margin-right: auto;
    color: var(--color-pr);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}

.nav__list>.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    padding-bottom: 15px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.nav__link:hover {
    color: var(--color-pr);
    border-bottom-color: var(--color-hl);
}

.nav__link:visited {
    color: var(--color-pr);
}

.nav__link-selected {
    text-decoration: none;
    color: var(--color-s);
    cursor: default;
}

.nav__link-selected:hover {
    color: var(--color-s);
}

.nav__link-selected:visited {
    color: var(--color-s);
}

.main {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 40px;
}

.invis {
    display: none;
}

.order {}

.h1 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--color-pr);
}

.order__list {
    /* margin-bottom: 40px; */
}

.order__item {
    margin-bottom: 15px;
}

.order__item:last-child {
    margin-bottom: 0;
}

.order__container {
    background: var(--color-pr);
    border-radius: 5px;
    padding: 30px;
}

.order__grid-container {
    margin-bottom: 40px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.order__grid {
    border: 2px solid var(--color-bg);
    border-radius: 5px;
    padding: 10px;
}

.order__grid:hover {
    background: var(--color-hl);
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}

.button {
    display: block;
    background: var(--color-pr);
    padding: 10px 40px;
    margin: 0 auto;
}

.blockquote {
    border-left: 5px solid var(--color-hl);
    margin-bottom: 2em;
    padding-left: 1em;
    /*  font-family: serif; */
}

.blockquote:before {
    display: none;
}

.blockquote-footer {
    padding: 0;
    color: var(--color-ft);
    text-align: left;
    font-style: italic;
}

.blockquote-footer:before {
    content: '— ';
}

.blockquote:nth-of-type(even) {
    text-align: right;
    border-left: none;
    border-right: 5px solid var(--color-hl);
    padding-left: 0;
    padding-right: 1em;
}

.blockquote:nth-of-type(even) footer {
    text-align: right;
}

.blockquote:nth-of-type(even) footer:before {
    content: '';
}

.blockquote:nth-of-type(even) footer:after {
    content: ' —';
}

.footer {
    flex-shrink: 0;
    /*  width: 100%; */
    /* max-width: 1040px;
    margin: 0 auto; */
    padding: 15px;
    border-top: 1px solid hsla(0, 0%, 0%, 0.1);
}

.footer__p {
    color: var(--color-ft);
    font-size: 14px;
    text-align: center;
}

/* Common Classes */
.p {
    margin-bottom: 0;
}

.p--height {
    line-height: 1.5;
}

.p--color-bg {
    color: var(--color-bg);
}

.p--color-sd {
    color: var(--color-sd);
}

.link {
    color: black;
}

.link--gray {
    color: var(--color-ft);
    text-decoration: none;
}

.link:hover {
    color: var(--color-hl);
}

.link:visited {
    color: var(--color-s);
}