body {
    font-family: 'Roboto', sans-serif;
    background: var(--color-bg);
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
    margin-top: 0;
}

:root {
    /* background */
    --color-bg: hsl(0, 0%, 98%);
    /* primary */
    --color-pr: hsl(215, 50%, 23%);
    /* pr highlight */
    --color-hl: hsl(215, 60%, 35%);
    /* secondary */
    --color-sd: hsl(184, 90%, 65%);
    /* sd selected */
    --color-s: hsl(184, 60%, 35%);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
}

.nav__center {}

.nav__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 13px 0;
}

.nav__item {
    margin-right: 60px;
    color: var(--color-pr);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}

.nav__list>.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.nav__link:hover {
    color: var(--color-pr);
    border-bottom-color: var(--color-hl);
}

.nav__link:visited {
    color: var(--color-pr);
}

.nav__link-selected {
    text-decoration: none;
    color: var(--color-s);
    cursor: default;
}

.nav__link-selected:hover {
    color: var(--color-s);
}

.nav__link-selected:visited {
    color: var(--color-s);
}

.main {
    max-width: 960px;
    margin: 0 auto 20px;
    padding: 40px 40px;
}

.invis {
    display: none;
}

.order {}

.h1 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--color-pr);
}

.order__list {
    /* margin-bottom: 40px; */
}

.order__item {
    margin-bottom: 15px;
}

.order__item:last-child {
    margin-bottom: 0;
}

.p {
    margin-bottom: 0;
}

.p--height {
    line-height: 1.5;
}

.p--color-bg {
    color: var(--color-bg);
}

.p--color-sd {
    color: var(--color-sd);
}

.order__container {
    background: var(--color-pr);
    border-radius: 5px;
    padding: 30px;
}

.order__grid-container {
    margin-bottom: 40px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    /*   grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: auto; */
    /*     grid-template-areas:
        "item-gold item-mini item-individual"
        "confirm confirm confirm" */
}

.order__grid {
    border: 2px solid var(--color-bg);
    border-radius: 5px;
    padding: 10px;
}

.order__grid:hover {
    background: var(--color-hl);
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}

.button {
    display: block;
    background: var(--color-pr);
    padding: 10px 40px;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    max-width: 1040px;
    margin: auto auto;
    background: hsl(0, 0%, 92%);
    border-radius: 5px;
}

.footer__p {
    color: hsl(0, 0%, 30%);
    font-size: 14px;
    text-align: center;
}

.footer__link {
    text-decoration: none;
    color: var(--color-pr);
}

.footer__link:hover {
    color: var(--color-hl);
}

.footer__link:visited {
    color: var(--color-pr);
}