.about__grid {
    width: 100%;
    display: grid;
    grid-gap: var(--space-xs);
    grid-template-columns: minmax(50ch, 70ch) 1fr;
}

.about__item-avatar {
    margin: auto;
}

.about__avatar {
    border-radius: 50%;
    height: var(--space-xxl);
    min-width: var(--space-xxl);
}

@media screen and (max-width: 700px) {
    .about__grid {
        grid-template-columns: 1fr;
    }
    .about__item-avatar {
        order: -1;
    }
}

.about__grid-t {
    display: grid;
    grid-gap: var(--space-xs) var(--space-md);
    grid-template-columns: repeat(2, minmax(250px, 1fr));
}

@media screen and (max-width: 700px) {
    .about__grid-t {
        grid-template-columns: 1fr;
    }
}