.contacts__container {
    display: grid;
    grid-gap: var(--space-md);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contacts__container-social {
    display: grid;
    grid-gap: var(--space-md);
    grid-template-columns: min-content;
}

.contacts__item-social {
    display: flex;
    align-items: center;
}

.contacts__svg-social {
    height: var(--space-lg);
    min-width: var(--space-lg);
}

.contacts__text-social {
    padding-left: var(--space-xs);
}

@media screen and (max-width: 681px) {
    .text-header-2 {
        text-align: center;
    }
    .contacts__item-2 {
        order: -1;
    }
    .contacts__container-social {
        grid-template-columns: repeat(auto-fit, 230px);
        justify-content: space-between;
    }
    .contacts__container {
        grid-template-columns: 1fr;
    }
    .contacts__btn {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .contacts__text-social {
        display: none;
    }
    .contacts__container-social {
        grid-template-columns: repeat(3, min-content);
        justify-content: space-around;
    }
}