.random__grid {
    width: 100%;
    display: flex;
}

.random__item {
    width: 50%;
}

.random__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random__img {
    display: block;
    max-height: 260px;
    max-width: 100%;
}

@media screen and (max-width: 900px) {
    .random__img {
        max-height: 220px;
    }
}

@media screen and (max-width: 600px) {
    .random__item-img {
        display: none;
    }

    .random__item {
        width: 100%;
    }
}

.random__li {
    margin-bottom: var(--space-sm);
    color: var(--color-contrast-high);

    &:last-child {
        margin-bottom: 0;
    }
}